.head {
    max-width: 100%;
    background: #fff;
    padding: 1.75rem 6.25rem 5.6rem;
}

.nav {
    max-width: 90rem;
    margin: 0 auto;
}

.nav_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.btn_nav {
    display: grid;
    place-items: center;
    width: 10rem;
    height: 3rem;
    background: #4FD1C5;
    border: 1px solid #4FD1C5;
    border-radius: 100%;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.09em;
    -webkit-box-shadow: 14px 21px 6px 1px rgba(45, 76, 99, 0.2);
    -moz-box-shadow: 14px 21px 6px 1px rgba(45, 76, 99, 0.2);
    box-shadow: 14px 21px 6px 1px rgba(45, 76, 99, 0.2);
    cursor: pointer;
}
